# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Mac stuff
.DS_Store

# C Lion
.idea

# nodeos
scripts/nodeos/nodeos.log
scripts/nodeos/nodeos.pid
scripts/nodeos/nodeos.tty
scripts/nodeos/data
scripts/nodeos/protocol_features

